body {
    margin: 0;
}

nav {
    padding-top: 50px;
    padding-bottom: 50px;
}

ul {
    display: flex;
    justify-content: space-around;
    margin: 0;
    list-style: none;
}

a {
    display: block;
    position: relative;
    font-family: 'Bitter', serif;
    font-size: 32px;
    line-height: 32px;
    color: white;
    cursor: pointer;
    text-shadow: 0px 0px 1px #7f7f7f;
    text-transform: uppercase;
    text-decoration: none;
}

/*---------------------------------------*/

.crimson {
    background-color: crimson;
}

.crimson a:before {
    content: "[";
}

.crimson a:after {
    content: "]";
    right: 1%;
}

.crimson a:before,
.crimson a:after {
   position: absolute;
   top: -7%;
   opacity: 0;
   transition: transform 0.3s, opacity 0.2s;
}

.crimson a:hover:before,
.crimson a:hover:after {
    opacity: 1;
}

.crimson a:hover:before {
    transform: translateX(-20px);
}

.crimson a:hover:after {
    transform: translateX(20px);
}

/*---------------------------------------*/

.orangered {
    background-color: orangered;
}

.orangered a {
    perspective: 1000px;
}

.orangered a span {
    display: inline-block;
    position: relative;
    padding: 10px 15px;
    background-color: #ff0303;
    transition: transform 0.3s;
    transform-origin: 50% 0;
    transform-style: preserve-3d;
}

.orangered a span:before {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    left: 0;
    width: calc(100% - 30px);
    height: calc(100% - 20px);
    padding: 10px 15px;
    background-color: #e10000;
    transition: background 0.3s;
    transform: rotateX(-90deg);
    transform-origin: 50% 0;
}

.orangered a:hover span {
    transform: rotateX(90deg) translateY(-22px);
}

.orangered a:hover span:before {
    background-color: #ff0303;
}


/*---------------------------------------*/

.coral {
    background-color: coral;
}

.coral a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: #d33900;
    transform: translateY(10px);
    transition: transform 0.3s, opacity 0.2s;
}

.coral a:hover:after {
    transform: translateY(0);
    opacity: 1;
}

/*------------------------*/

.darkslateblue {
    background-color: darkslateblue;
}

.darkslateblue a:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 4px;
    top: 100%;
    left: 0;
    opacity: 0;
    background-color: #ffffff;
    transition: transform 0.3s, opacity 0.2s;
}

.darkslateblue a:hover:after {
    transform: translateY(10px);
    opacity: 1;
}

/*----------------------------------*/

.darkviolet {
    background-color: darkviolet;
}

.darkviolet a {
    height: 100%;
    overflow: hidden;
}

.darkviolet a:after {
    content: attr(data-hover);
    position: absolute;
    display: block;
    left: 0;
    transition: transform 0.5s, color 0.25s;
}

.darkviolet a:hover:after {
    transform: translateY(-100%);
    color: orangered;
}

/*---------------------------------------*/

.darkslategray {
    background-color: darkslategray;
}

.darkslategray a {
    height: 100%;
}

.darkslategray a:before {
    content: "";
    position: absolute;
    top: -15px;
    left: 0;
    display: block;
    height: 2px;
    transform: translateX(-15px);
    width: calc(100% + 30px);
    background-color: white;
    transition: top 0.3s cubic-bezier(1, 0.04, 0, 0.71);
}

.darkslategray a:hover:before {
    top: calc(100% + 15px);
}

.darkslategray a:after {
    content: "";
    display: block;
    position: absolute;
    top: -15px;
    left: -15px;
    background-color: white;
    width: 2px;
    height: 0;
    transition: height 0.3s cubic-bezier(1, 0.04, 0, 0.71);
}

.darkslategray a:hover:after {
    height: calc(100% + 30px);
}

/*-------------------------------------------*/
.darkolivegreen {
    background-color: darkolivegreen;
}

.darkolivegreen a:before {
    content: "";
    position: absolute;
    left: -10%;
    top: 120%;
    display: block;
    width: 120%;
    height: 2px;
    background-color: white;
    opacity: 0;
    transition: opacity 0.3s, top 0.3s;
}

.darkolivegreen a:hover:before {
    opacity: 1;
    top: -20%;
}

.darkolivegreen a:after {
    content: "";
    position: absolute;
    left: 0%;
    top: 120%;
    display: block;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: width 0.3s, left 0.3s;
}

.darkolivegreen a:hover:after {
    width: 120%;
    left: -10%;
}

/*-------------------------------------------*/
.darkred {
    background-color: darkred;
}

.darkred a {
    padding: 15px 25px;
}

.darkred a:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 3px solid red;
}

.darkred a:after {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 3px solid white;
    transform: translate(10px, -12px);
    opacity: 0;
    transition: transform 0.3s, opacity 0.5s;
}

.darkred a:hover:after {
    transform: none;
    opacity: 1;
}

/*------------------------------------*/
.deeppink {
    background-color: deeppink;
}

.deeppink a {
    padding: 25px 15px;
    text-align: center;
}

.deeppink a:before {
    content: "";
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: white;
    transition: height 0.3s;
}

.deeppink a:hover:before {
    height: 7px;
}

.deeppink a:after {
    content: attr(data-hover);
    position: absolute;
    display: block;
    width: 100%;
    left: 0;
    top: 30%;
    font-size: 15px;
    font-style: italic;
    font-weight: 100;
    text-transform: capitalize;
    color: aqua;
    opacity: 0;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
    transition: opacity 0.75s, top 0.3s, border 0.5s;
}

.deeppink a:hover:after {
    top: 75%;
    opacity: 1;
}

/*------------------------------------*/
.indigo {
    background-color: indigo;
}

.indigo li {
    position: relative;
    overflow: hidden;
}

.indigo a {
    padding: 15px 25px;
    background-color: rebeccapurple;
    left: 0;
    transition: left 0.3s;
}

.indigo a:hover {
    left: 100%;
}

.indigo a:before {
    content: attr(data-hover);
    position: absolute;
    top: 0;
    left: -100%;
    display: block;
    padding: 15px 25px;
    transition: left 0.3s 0.3s;
}

.indigo a:hover:before {
    background-color: white;
    color: rebeccapurple;
}

/*--------------------------------------*/
.lightseagreen {
    background-color: lightseagreen;
}

.lightseagreen a {
    padding-top: 15px;
    border-top: 3px solid #168781;
    color: #168781;
}

.lightseagreen a:before {
    content: attr(data-hover);
    position: absolute;
    left: 0;
    top: 15px;
    display: block;
    width: 0;
    overflow: hidden;
    padding-bottom: 15px;
    color: white;
    border-bottom: 3px solid white;
    transition: width 0.5s;
}

.lightseagreen a:hover:before {
    width: 100%;
}

/*-----------------------------------*/
.salmon {
    background-color: salmon;
}

.salmon a {
    z-index: 2;
}

.salmon a:before,
.salmon a:after {
    content: "";
    position: absolute;
    display: block;
    left: 50%;
    top: 50%;
    width: 40px;
    height: 40px;
    opacity: 0;
    transform: translate(-50%, -50%);
    z-index: -1;
    border-radius: 50%;
    transition: width 0.5s, height 0.5s, opacity 0.5s;
}

.salmon a:hover:before {
    width: 80px;
    height: 80px;
    opacity: 1;
    border: 2px solid orangered;
}

.salmon a:after {
    width: 30px;
    height: 30px;
    opacity: 0;
    transition: width 0.3s ease, height 0.3s ease, opacity 0.3s;
}

.salmon a:hover:after {
    width: 60px;
    height: 60px;
    opacity: 1;
    border: 5px solid orangered;
}